<div class="list-group">
  <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <input type="search" class="form-control" id="search" formControlName="search" aria-describedby="search" placeholder="recherche" style="margin-bottom: 20px;">
    <button type="submit" class="btn btn-primary" style="width: 100%; margin-bottom: 20px;">Rechercher</button>
  </form>
  <div *ngFor="let contact of listMatch">
    <a [routerLink]="['/contact/', contact.nom ]" class="list-group-item list-group-item-action">{{ contact.nom }}</a>
  </div>
</div>
