<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{this.contact.photo}}" alt="Card image cap">
  <div class="card-body">
    <ul>
      <li>Nom: {{ this.contact.nom }}</li>
      <li >Prénom: {{ this.contact.prenom }}</li>
      <li>Email: {{ this.contact.email }}</li>
      <li>Photo: {{ this.contact.photo }}</li>
    </ul>
    <a [routerLink]="['/contact/edit/', contact.nom ]"  style="margin-bottom: 10px" class="btn btn-primary">Modifier le contact</a>
    <a (click)="destroy()" class="btn btn-danger">Supprimer le contact</a>
  </div>
</div>
