<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <div class="form-group">
    <label for="exampleInputNom">Nom</label>
    <input type="text" class="form-control" id="exampleInputNom"   formControlName="nom" placeholder="Enter Nom">
  </div>
  <div class="form-group">
    <label for="exampleInputPrenom">Prénom</label>
    <input type="text" class="form-control" id="exampleInputPrenom"  formControlName="prenom" placeholder="Entrer Prénom">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail"   formControlName="email" placeholder="Entrer email">
  </div>
  <div class="form-group">
    <label for="exampleInputPhoto">Photo</label>
    <input type="text" class="form-control" id="exampleInputPhoto"   formControlName="photo" placeholder="Entrer Photo">
  </div>
  <button type="submit" class="btn btn-primary">Créer</button>
</form>
